.App {
  width: 1000px;
  margin: 0 auto;
}

.App-nav{
  display: flex;
  list-style: none;
}

.App-nav li{
  margin-right: 15px;
} 

.App-nav li a{
  text-decoration: none;
  color: black;
}

.App-nav li a.my-active{
  color: red;
}